{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": "last 1 version"
        }
      }
    ]
  ],
  "plugins": ["react-hot-loader/babel"]
}

